{% extends "mizdb/base.html" %}
{% load i18n l10n static django_bootstrap5 %}

{% block extrahead %}
<!-- Extrahead -->
{{ block.super }}
{{ media }}
<script src="{% static 'mizdb/js/cancel.js' %}"></script>
{% endblock %}

{% block content %}
{% block view_helptext %}
{% if view_helptext %}
<p> {{view_helptext|linebreaks}} </p>
{% endif %}
{% endblock view_helptext %}

{% block confirmation_form %}

<form method="post">{% csrf_token %}
  {% block form_fields %}
  {% bootstrap_form form layout="horizontal"%}
  {% endblock form_fields %}
  <p>
    {% blocktrans %}Are you sure you want to change the selected {{ objects_name }}? {% endblocktrans %}
  </p>

  {% if non_reversible_warning %}
  <p> {{non_reversible_warning}}</p>
  {% endif %}

  <div>
    {% block hidden_fields %}
    {# This block contains hidden inputs required by the action views. #}

    {# The list of selected primary keys #}
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_selection_name }}" value="{{ obj.pk|unlocalize }}"/>
    {% endfor %}

    <input type="hidden" name="action_name" value="{{ action_name }}"/>
    {% endblock hidden_fields %}

    {% block submit_button %}
    <input class="btn btn-danger" type="submit" name="{{ action_confirmed_name }}" value="Ja, ich bin sicher">
    {% endblock submit_button %}

    {% block cancel_button %}
    <button type="button" class="btn btn-secondary button cancel-link">Nein, bitte abbrechen</button>
    {% endblock cancel_button %}
  </div>
</form>
{% endblock confirmation_form %}
{% endblock content %}
