{% extends "mizdb/base.html" %}
{% load i18n l10n static django_bootstrap5 %}

{% block extrahead %}
<!-- Extrahead -->
    {{ block.super }}
    {{ media }}
    <script src="{% static 'mizdb/js/cancel.js' %}"></script>
{% endblock %}

{% block content %}
    {% block view_helptext %}
        {% if view_helptext %}
            <p> {{view_helptext|linebreaks}} </p>
        {% endif %}
    {% endblock view_helptext %}
    
    {% block confirmation_form %}
    
        <form method="post">{% csrf_token %}
            {% bootstrap_form form layout="horizontal"%}
            <p>
                {% blocktrans %}Are you sure you want to change the selected {{ objects_name }}? {% endblocktrans %}
            </p>
            {% block object_details %}
                {% if object_list %}
                <h2>{% trans "Objects" %}</h2>
                {% for obj in object_list %}
                    <ul>{{ obj|unordered_list }}</ul>
                {% endfor %}
                {% endif %}
            {% endblock object_details %}
            
            {% if non_reversible_warning %}
                <p> {{non_reversible_warning}}</p>
            {% endif %}
            
            <div>
                {% for obj in queryset %}
                    {# The list of selected primary keys #}
                    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
                {% endfor %}
                <input type="hidden" name="changelist_action" value="{{action_name}}" />
            <input class="btn btn-danger" type="submit" value="Ja, ich bin sicher">
            <button type="button" class="btn btn-secondary button cancel-link">Nein, bitte abbrechen</button>
            </div>
        </form>
    {% endblock confirmation_form %}
{% endblock content %}
