{% load static %}<!DOCTYPE html>
<html lang="de" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }} | MIZDB{% endblock title %}</title>
    {% block style %}
        <link rel="stylesheet" href="{% static 'mizdb/css/base.css' %}">
    {% endblock style %}
    {% block script %}
        <script src="{% static 'mizdb/js/search.js' %}"></script>
    {% endblock script %}
    {% block extrastyle %}{% endblock extrastyle %}
    {% block extrahead %}{% endblock extrahead %}
    {% block bootstrap %}
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
        <link href="{% static 'bootstrap/css/flatly/bootstrap.css' %}" rel="stylesheet">
        <link href="" rel="stylesheet" id="user_theme" crossorigin="anonymous" type="text/css" media="screen">
        <script src="{% static 'mizdb/js/theme-switch.js' %}"></script>
    {% endblock bootstrap %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<!-- Header -->
{% block header %}
<header class="navbar navbar-dark bg-primary">
<div id="branding-user-links" class="container-fluid">
    {# TODO: the entire navbar should be one responsive item. Currently, items just wrap individually #}
    {% block branding %}<a class="navbar-brand" href="{% url 'index' %}" title="Hauptseite">MIZDB</a>{% endblock branding %}

    {% block nav %}
        <button class="btn btn-primary border-dark p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#nav-sidebar" aria-controls="nav-sidebar" aria-label="Navigation anzeigen" title="Navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="nav-text">Navigation</span>
        </button>
    {% endblock nav %}

    {% block searchbar %}
        <div id="search" class="me-auto ms-auto">
            {% include "mizdb/includes/searchbar.html" %}
        </div>
    {% endblock searchbar %}

    {% block user-links %}
        <div id="user-links" class="d-flex gap-2">
            <div class="dropdown">
                <button type="button" class="btn btn-primary border-dark p-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Theme">
                    <span class="nav-text">Theme</span>
                </button>
              <ul class="dropdown-menu dropdown-menu-end" id="theme-dropdown">
                  <li><a href="#" class="change-theme-menu-item dropdown-item" rel="">Default (Flatly)</a></li>
                  <li><a href="#" class="change-theme-menu-item dropdown-item" rel="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" crossorigin="anonymous">Bootstrap</a></li>
              </ul>
            </div>
            {% if wiki_url %}
                <a class="btn btn-primary border-dark p-2" href="{{ wiki_url }}" target="_blank" title="Hilfe">
                    <img src="{% static 'mizdb/img/help-circle-white.svg' %}" alt="Hilfe" role="img">
                    <span class="nav-text">Hilfe</span>
                </a>
            {% endif %}
            {% block account %}
                <div id="user-account" class="btn-group" role="group">
                    <button type="button" class="btn btn-primary border-dark p-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Benutzerkonto">
                        <img src="{% static 'mizdb/img/user-white.svg' %}" alt="Benutzerkonto" role="img">
                        <span class="nav-text">Benutzer</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_authenticated %}
                            <li><span class="dropdown-item-text">Willkommen, <strong>{% firstof user.get_short_name user.get_username %}</strong></span></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Seite</a></li>{% endif %}
                            {% if user.has_usable_password %}<li><a class="dropdown-item" href="{% url 'password_change' %}">Passwort ändern</a></li>{% endif %}
                            <li><form id="logout-form" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Abmelden</button>
                            </form></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Anmelden</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock account %}
        </div>
    {% endblock user-links %}
</div>
</header>
{% endblock header %}
<!-- END Header -->

{% block nav-sidebar %}
<aside>
    <div id="nav-sidebar" class="offcanvas offcanvas-start">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title">Tabellen</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% include "mizdb/includes/model_list.html" %}
        </div>
    </div>
</aside>
{% endblock nav-sidebar %}

<main id="main" class="p-1 {% block mainclass %}container-lg{% endblock %}">
    {% block messages %}{# TODO: add message block #}{% endblock messages %}
    <!-- Content -->
    {% block content_title %}{% if title %}<h1 class="text-primary">{{ title }}</h1>{% endif %}{% endblock %}
    <div id="content" class="py-3 border-bottom border-top">
        {% block content %}{{ content }}{% endblock %}
    </div>
    <!-- END Content -->
    <a href="#" style="display: none;" type="button" class="btn btn-primary position-fixed start-50 bottom-0 mb-1" id="btn-back-to-top" title="Zum Anfang scrollen" aria-label="Zum Anfang scrollen">
        <img src="{% static 'mizdb/img/totop.svg' %}"><span>nach oben</span>
    </a>
</main>
{% block extrascript %}
<script>
// Script for the scroll back to top button:
let btn = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    btn.style.display = "inline-block";
  } else {
    btn.style.display = "none";
  }
}
</script>
{% endblock extrascript %}
</body>
</html>