{% load static %}<!DOCTYPE html>
<html lang="de" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }} | MIZDB{% endblock title %}</title>
    <link rel="stylesheet" href="{% block stylesheet %}{% static "mizdb/css/base.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock extrastyle %}
    {% block extrahead %}{% endblock extrahead %}
    {% block bootstrap %}
        {#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>#}
        {#<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">#}
        {#<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/flatly/bootstrap.min.css" rel="stylesheet">#}
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
        <link href="{% static 'bootstrap/css/flatly/bootstrap.css' %}" rel="stylesheet">
    {% endblock bootstrap %}
<body class="{% block bodyclass %}{% endblock %}">

<!-- Header -->
{% block header %}
<header class="navbar navbar-dark bg-primary">
<div id="branding-user-links" class="container-fluid">
    {# TODO: the entire navbar should be one responsive item. Currently, items just wrap individually #}
    {% block branding %}<a class="navbar-brand" href="{% url 'mizdb:index' %}" title="Hauptseite">MIZDB</a>{% endblock branding %}

    {% block nav %}
        <button class="btn btn-info navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#nav-sidebar" aria-controls="nav-sidebar" aria-label="Navigation anzeigen" title="Navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                </path>
            </svg>
        </button>
    {% endblock nav %}

    {% block searchbar %}
        <div id="search" class="me-auto ms-auto">
            {% include "mizdb/includes/searchbar.html" %}
        </div>
    {% endblock searchbar %}

    {% block user-links %}
        <div id="user-links" class="d-flex gap-2">
            {% if wiki_url %}
                <a class="btn btn-info navbar-toggler p-2" href="{{ wiki_url }}" target="_blank" title="Hilfe">
                    <img src="{% static 'mizdb/img/help-circle-white.svg' %}" alt="Hilfe" role="img">
                </a>
            {% endif %}
            {% block account %}
                <div id="user-account" class="btn-group" role="group">
                    <button type="button" class="btn btn-info dropdown-toggle navbar-toggler p-2" data-bs-toggle="dropdown" aria-expanded="false" title="Benutzerkonto">
                        <img src="{% static 'mizdb/img/user-white.svg' %}" alt="Benutzerkonto" role="img">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_authenticated %}
                            <li><span class="dropdown-item-text">Willkommen, <strong>{% firstof user.get_short_name user.get_username %}</strong>.</span></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Seite</a></li>{% endif %}
                        {# TODO: re-enable password change #}
                            {% if user.has_usable_password %}<li><a class="dropdown-item" href="{#{% url 'mizdb:password_change' %}#}">Passwort ändern</a></li>{% endif %}
                            <li><form id="logout-form" method="post" action="{% url 'mizdb:logout' %}">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Abmelden</button>
                            </form></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'mizdb:login' %}">Anmelden</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock account %}
        </div>
    {% endblock user-links %}
</div>
</header>
{% endblock header %}
<!-- END Header -->

{% block nav-sidebar %}
<aside>
    <div id="nav-sidebar" class="offcanvas offcanvas-start">
        <div class="offcanvas-header border-bottom">
            <h5>Tabellen</h5>
        </div>
        <div class="offcanvas-body">
            {% include "mizdb/includes/model_list.html" %}
        </div>
    </div>
</aside>
{% endblock nav-sidebar %}

<main id="main" class="container-lg">
    {% block messages %}{# TODO: add message block #}{% endblock messages %}
    <!-- Content -->
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    <div id="content" class="py-3">
        {% block content %}{{ content }}{% endblock %}
    </div>
    <br class="clear">
    <!-- END Content -->
</main>
{% block extrascript %}
{% endblock extrascript %}
</body>
</html>