{% extends "mizdb/base.html" %}
{% load mizdb static %}

{% block title %}{{ opts.verbose_name_plural }} Übersicht | MIZDB {% endblock %}

{% block mainclass %}container-fluid ps-5 pe-5{% endblock %}

{% block content_title %}
<div class="d-flex align-items-center">
    <h1 class="text-primary">{{ opts.verbose_name_plural }}</h1>
    <a href="{% url opts|urlname:'add' %}" class="btn btn-success ms-auto">{{ opts.verbose_name }} hinzufügen</a>
</div>
{% endblock %}

{% block content %}

{% block search_form %}
<div id="changelist-search-container" class="mb-3 bg-primary bg-opacity-10">
<form method="get" class="p-2">
    <div class="row g-1">
    <div class="col">
        <input id="searchInput" class="form-control" type="search" placeholder="{{ opts.verbose_name_plural }} durchsuchen..." name="q" value="{{ search_term }}">
    </div>
    <div class="col">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">
            <span>Suchen</span>
        </button>
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#advSearchForm" title="Erweiterte Suchoptionen anzeigen">
            <img src="{% static 'mizdb/img/sliders.svg' %}">
        </button>
    </div>
</div>
<div class="collapse" id="advSearchForm">
    {% block advanced_search_form %}{% endblock %}
</div>
</form>
</div>
{% endblock %}

{% if result_rows %}
{% include "mizdb/includes/pagination.html" %}
<div class="results mb-3">
<table id="result_list" class="table table-light table-hover">
<thead>
<tr class="table-primary">{% for header in result_headers %}
<th scope="col"{{ header.class_attrib }}>
   <div class="text"><span>{{ header.text|capfirst }}</span></div>
</th>{% endfor %}</tr>
</thead>
<tbody>
{% for result_row in result_rows %}
    <tr>{% for item in result_row %}<td>{{ item }}</td>{% endfor %}</tr>
{% endfor %}
</tbody>
</table>
</div>
{% include "mizdb/includes/pagination.html" %}
{% endif %}
{% endblock %}