{% extends "mizdb/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mizdb/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
{# TODO: use bootstrap breadcrumbs #}
<div class="breadcrumbs">
<a href="{% url 'mizdb:index' %}">Index</a>
&rsaquo; <a href="{% url opts|urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% if add %}Add {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block content %}
{% block object-tools %}
    {% if change %}
      <ul class="object-tools">
        {% block object-tools-items %}
            {# TODO: add object tools #}
        {% endblock %}
      </ul>
    {% endif %}
{% endblock object-tools %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form">
    {% csrf_token %}
    {% block form_top %}{% endblock %}
    <div>
        {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% endblock content %}