{% extends "mizdb/base_form.html" %}
{% load formsetify static %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'mizdb/js/dirty.js' %}"></script>
{% endblock extrahead %}

{% block content %}

{% comment %}
{# TODO: add object tools (history, id selector, etc.) #}
{% block object-tools %}
    {% if change %}
      <ul class="object-tools">
        {% block object-tools-items %}
            {# TODO: add object tools #}
        {% endblock %}
      </ul>
    {% endif %}
{% endblock object-tools %}
{% endcomment %}

<django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  {% render_form form %}
  {# TODO: check for permissions for these buttons (use django admin submit row in admin_modify) #}
  <button type="button" click="submit({add_another: true}) -> emit('FormSubmitted') -> proceed">Sichern und neu hinzufügen</button>
  <button type="button" click="submit({continue: true}) -> emit('FormSubmitted') -> proceed">Sichern und weiter bearbeiten</button>
  <button type="button" click="submit({add: true}) -> emit('FormSubmitted') -> proceed">Sichern</button>
</django-formset>
{% endblock content %}
