{% extends "mizdb/action_confirmation.html" %}

{% block view_helptext %}
{% if perms_lacking %}
  {% if is_changelist_action %}
    <p>Das Löschen der ausgewählten {{ opts.verbose_name_plural }} hätte das Löschen davon abhängiger Daten zur Folge, aber Sie haben nicht die nötigen Rechte, um die folgenden davon abhängigen Daten zu löschen:</p>
  {% else %}
    <p>Das Löschen des {{ object_name }} „{{ object }}“ hätte das Löschen davon abhängiger Daten zur Folge, aber Sie haben nicht die nötigen Rechte, um die folgenden davon abhängigen Daten zu löschen:</p>
  {% endif %}

  <ul>
    {% for obj in perms_lacking %}
    <li>{{ obj }}</li>
    {% endfor %}
  </ul>
{% elif protected %}
  {% if is_changelist_action %}
    <p>Das Löschen der ausgewählten {{ opts.verbose_name_plural }} würde ein Löschen der folgenden geschützten verwandten Objekte erfordern:</p>
  {% else %}
    <p>Das Löschen von {{ object_name }} „{{ object }}“ würde ein Löschen der folgenden geschützten verwandten Objekte erfordern:</p>
  {% endif %}

  <ul>
    {% for obj in protected %}
    <li>{{ obj }}</li>
    {% endfor %}
  </ul>
{% else %}
  {% if is_changelist_action %}
    <p>Sind Sie sicher, dass Sie die ausgewählten {{ opts.verbose_name_plural }} löschen wollen? Alle folgenden Objekte und ihre verwandten Objekte werden gelöscht:</p>
  {% else %}
    <p>Sind Sie sicher, dass Sie {{ object_name }} „{{ object }}“ löschen wollen? Es werden zusätzlich die folgenden davon abhängigen Daten gelöscht:</p>
  {% endif %}

  <h2>Zusammenfassung</h2>
  <ul>
    {% for model_name, object_count in model_count %}
    <li>{{ model_name|capfirst }}: {{ object_count }}</li>
    {% endfor %}
  </ul>

  {% if deleted_objects %}
  <h2>Objekte</h2>
  <ul>{{ deleted_objects|unordered_list }}</ul>
  {% endif %}
{% endif %}
{% endblock view_helptext %}

{% block confirmation_form %}
{% if not perms_lacking and not protected %}
  {{ block.super }}
{% else %}
  {% block cancel_button %}{{ block.super }}{% endblock cancel_button %}
{% endif %}
{% endblock confirmation_form %}
