{% extends "mizdb/base.html" %}
{% load i18n l10n django_bootstrap5 %}

{% block content %}
<form method="post">
    
    {% if wizard.steps.prev %}
        {% if wizard.steps.prev != wizard.steps.first %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="button">{% trans "first step" %}</button>
        {% endif %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="button">{% trans "prev step" %}</button>
    {% endif %}
    
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form.non_field_errors }}

    {% if current_step == '0' %}
        {# Select primary merge instance #}
        <div class="select-primary-container">
            {% for field in wizard.form %}
                {% if forloop.first %}
                    {{ field.errors }}
                    {{ field }}  {# the field is hidden and only stores the id selected in the 'result list' #}
                    {{ primary_label }}
            <table id="result_list" class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col" class="sticky-top z-999 selection-checkbox-column"><input id="select-all-cb" class="form-check-input d-none" type="checkbox"></th>
                        {% for header in result_headers %}
                            <th scope="col" class="sticky-top z-999">
                               <div class="text d-flex justify-content-between">
                                   <span class="me-2">{{ header.text|capfirst }}</span>
                               </div>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for result_object, result_row in result_rows %}
                        <tr>
                            <td><input class="form-check-input selection-cb" type="checkbox" value="{{result_object.pk}}" name="_selected-item"></td>
                            {% for item in result_row %}<td class="text-body">{{ item }}</td>{% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% else %}
                    {# TODO: render expand_primary field/form #}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {# Conflict resolution stage #}
        {{ wizard.form.management_form }}

        {% for form in wizard.form.forms %}
            {% bootstrap_form form layout="horizontal" %}
        {% endfor %}
    {% endif %}

    {% if non_reversible_warning %}
        <p>{{non_reversible_warning}}</p>
    {% endif %}
    
    <div>
        {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}
        <input type="hidden" name="changelist_action" value="{{action_name}}" />
        <input class="btn btn-danger" type="submit" name="action_confirmed_{{ wizard.steps.current }}" value="Weiter">
        <button type="button" class="btn btn-secondary button cancel-link">Nein, bitte abbrechen</button>
    </div>
</form>
{% endblock content %}
