{% extends "mizdb/base.html" %}

{% block content %}
<form method="get" class="d-flex align-items-center mb-3 ms-1">
    <input id="searchInput"
       class="form-control me-2 h-100"
       type="search"
       placeholder="Suchbegriff eingeben..."
       name="q" value="{{ q }}"
       data-search-url="{% url 'searchbar_search' %}"
       {% if popup_links %}data-popup="true"{% endif %}
       autocomplete="off"
    >
    <button class="btn btn-success" type="submit" title="Suchen">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </button>
</form>
{% if results %}
<h4>{{ total_count }} Ergebnisse:</h4>
<div class="list-group list-group-flush ms-1" style="max-width: 644px;">
    {% for result in results %}
        <li class="list-group-item list-group-item-action">{{ result }}</li>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}