{% extends "mizdb/change_form.html" %}
{% load static %}

{% block extrahead %}
    <script src="{% static 'mizdb_watchlist/js/watchlist.js' %}"></script>
{% endblock extrahead %}

{% block content %}
<div class="bg-light-subtle p-3 rounded">
    {% for label, value in data.items %}
    <div class="row mb-3">
        <span class="col-sm-2 col-form-label fw-bold">{{ label }}</span>
        <span class="col-sm-10">{{ value|linebreaksbr }}</span>
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block extrascript %}
{% endblock extrascript %}