{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block extrahead %}
{{block.super}}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{form.media}}
{% endblock extrahead %}

{% block content %}
<form method="post">
{% csrf_token %}
<fieldset class="module aligned collapse collapsed">
<h2 class="fieldset-name collapsible">Rest Liste ({{rest_list.total_form_count}} Objekte)</h2>
{% include "admin/includes/formset_table.html" with formset=rest_list %}
</fieldset>


<fieldset class="module aligned collapse collapsed">
<h2 class="fieldset-name collapsible">Musiker Liste ({{musiker_list.total_form_count}} Objekte)</h2>
{% include "admin/includes/formset_table.html" with formset=musiker_list %}
</fieldset>


<fieldset class="module aligned collapse collapsed">
<h2 class="fieldset-name collapsible">Band Liste ({{band_list.total_form_count}} Objekte)</h2>
{% include "admin/includes/formset_table.html" with formset=band_list %}
</fieldset>

<input type="submit" value="Weiter" name="_continue_bom"/>
</form>
{% endblock content %}
