{% extends 'admin/basic_form.html' %}
{% load i18n admin_urls %}

{% block extrastyle %}
<style>
form ul li {
    list-style-type:none;
}
</style>
{% endblock extrastyle %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'tools:dupes_select' %}">Duplikate</a>
        {% if breadcrumbs_title %} &rsaquo; {{ breadcrumbs_title }}{% endif %}
    </div>
{% endblock %}

{% block content %}
{% block form %}
<fieldset name="fields_select" class="module aligned collapse{%if items %} collapsed{% endif %}">
<h2 class="fieldset-name collapsible">Felder</h2>
<form name="fields_select" method="get">
    {{ form.non_field_errors }}
    <h3>Duplikat Felder</h3>
    <span class="help" style="padding-left:10px;">Wähle die Felder, deren Werte in die Duplikatensuche miteinbezogen werden sollen.</span>
    {{form.select}}
    <h3>Übersicht Felder</h3>
    <span class="help" style="padding-left:10px;">Wähle die Felder, deren Werte in der Übersicht dargestellt werden sollen.</span>
    {{form.display}}
    <input type="submit" name="get_duplicates" value="Suchen">
</form>
</fieldset>
{% endblock form %}
<br>

<!-- Duplicates -->
<div id="duplicates">
{% if items %}
<h1>{{ items|length }} Duplikate gefunden!</h1>
{% for dupe_item, cl_link in items %}
    <div>
    <table class="form" style="width:100%">
        <thead><tr>
            <th style="width:7%;">id</th>
            <th style="width:13%;">link</th>
            {% for header in headers %}
                <th style="width:{{ headers_width }}%;"> {{header}} </th>
            {% endfor %}
        </tr></thead>

        {% for object, object_link, fields in dupe_item %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{object.pk}}</td>
                <td>{{object_link}}</td>
                {% for field in fields %}
                    <td>{{field}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% resetcycle %}
    </table>
    <br>
    {{cl_link}}
    </div>
    <br><hr><br>
{% endfor %}
{% else %}
    <h1>Keine Duplikate gefunden!</h1>
{% endif %}
<!-- Duplicates END -->
</div>
{% endblock content %}
