select {
    min-width: 260px;
}

.vIntegerField{
    width: 9em;
}

.module caption, .inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
}

fieldset[class^="module aligned"] .fieldset-name{
    font-size: 13px;
    letter-spacing: 0;
    text-transform: none;
    background: lightblue none repeat scroll 0 0;
    color:#447e9b;
}

fieldset.collapsed h2 {
    background: #79aec8 none repeat scroll 0 0;
    color: #fff;
}

fieldset.collapsed h2 {
    background: #79aec8 none repeat scroll 0 0;
    color: #fff;
}

.collapsible .collapse-hint {
    display: inline;
    float: right;
    padding-left:5px;
    padding-right:5px;
}

/*
fieldset.collapsed h3{
    display:block;
}*/

fieldset.collapsed h3 * {
    display:inline;
}

.stacked-inline-collapsible.collapsed fieldset{
    display:none;
}

fieldset.collapsed h2, fieldset.collapsed {
    display: block;
}

fieldset.collapsed * {
    display: none;
}

fieldset div[class^="inline-related"] {
    /* Allows padding etc of forms of stacked formsets */
    margin-bottom: 5px;
    padding: 0;
}


.inline-related .stacked-inline-collapsible {
    border: 1px groove lightgrey;
    margin-bottom: 5px;
}

/*
fieldset.module fieldset .fieldset-name {
    background: lightcyan none repeat scroll 0 0;
    color:#447e9b;
}

.aligned .vCheckboxLabel {
    /* Actually swaps a Checkbox with its Label */
    display: block;
    float: left;
    line-height: 1;
    padding: 4px 10px 0 0;
    width: 160px;
    word-wrap: break-word;
}
*/

.preview {
    padding-top: 30px;
}

div .help_text {
    padding: 10px;
}

.description {
    padding: 5px 0 5px 12px;
}

/*
* — ACTION CONFIRMATION —
*/
.action-confirmation form input[type="submit"][name^="action_confirmed"] {
    background: #ba2121 none repeat scroll 0 0;
}
.action-confirmation form input[type="submit"][name^="action_confirmed"]:active,
.action-confirmation form input[type="submit"][name^="action_confirmed"]:focus,
.action-confirmation form input[type="submit"][name^="action_confirmed"]:hover {
    background: #a41515 none repeat scroll 0 0;
}

.action-confirmation form .cancel-link {
    background: #ddd none repeat scroll 0 0;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin: 0 0 0 10px;
    padding: 10px 15px;
    vertical-align: middle;
}

.aligned .form-row input[type="radio"]{
    margin-bottom: 5px;
}

button[name="wizard_goto_step"]{
    padding: 10px 15px;
}
