# Do not delete this


*.pyc

media/

DBentry/migrations/backup/

\.coveragerc

\.coverage

htmlcov/

static/

DBentry/snippets/

db/

docs/

DBentry/tests/timed/timed_test_getname\.txt

*.e4p

\.eric5project/

tests\.txt

DBentry/stuff\.py

delete_me\.py
