.addlink {
  padding-left: 16px;
  background: url(/static/admin/img/icon-addlink.svg) 0 1px no-repeat;
}

@media(min-width: 992px) {
    #searchBar {
        width: 200px;
    }
}

@media (max-width: 991.98px) {
    .nav-text {
        display:none
    }
}

#btn-back-to-top {
    position: sticky;
    bottom: 5%;
    left: 94%;
}