{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% comment %}{% endcomment %}
{% block extrahead %}
<!-- Extrahead -->
    {{ block.super }}
    {{ media }}
{% endblock %}


{% block bodyclass %}{{ block.super }} action-confirmation {% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{breadcrumbs_title}}
    </div>
{% endblock %}

{% block content %}
    {% block view_helptext %}
        {% if view_helptext %}
            <p> {{view_helptext|linebreaks}} </p>
        {% endif %}
    {% endblock view_helptext %}
    
    {% block confirmation_form %}
    
        <form method="post">{% csrf_token %}
            {% block selection_form %}
                {% if form %}
                    {% for fieldset in form %}
                      {% include "admin/includes/fieldset.html" %}
                    {% endfor %}
                {% endif %}
            {% endblock selection_form %}
            {% block additional_confirmations %}
            {% if additional_confirmations %}
                <h2>Weitere Bestätigungen</h2>
                {% for fieldset in additional_confirmations %}
                    {% include "admin/includes/fieldset.html" %}
                {% endfor %}
            {% endif %}
            {% endblock additional_confirmations %}
            <p>
                {% blocktrans %}Are you sure you want to change the selected {{ objects_name }}? {% endblocktrans %}
            </p>
            {% block object_details %}
                <h2>{% trans "Objects" %}</h2>
                {% for affected_object in affected_objects %}
                    <ul>{{ affected_object|unordered_list }}</ul>
                {% endfor %}
            {% endblock object_details %}
            
            {% if non_reversible_warning %}
                <p> {{non_reversible_warning}}</p>
            {% endif %}
            
            <div>
                {% for obj in queryset %} 
                {# Yo, what is this for? #}
                    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
                {% endfor %}
                <input type="hidden" name="action" value="{{action_name}}" />
                <input type="submit" name="action_confirmed" value="{% trans "Yes, I'm sure" %}" />
                <a href="" class="button cancel-link">{% trans "No, take me back" %}</a>
            </div>
        </form>
    {% endblock confirmation_form %}
{% endblock content %}
