{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% comment %}
        Additional css files should be loaded in the block 'extrastyle' which comes before this block.
        By adding the mizdb css override to this block, it should come after every  other css file.
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base_custom.css" %}"/>
{% endblock %}

{% block userlinks %}
    {% if wiki_url %}
        <a href="{{ wiki_url }} " target="_blank">Wiki</a>
    {% endif %}
    {{ block.super }}
{% endblock userlinks %}
