{% extends 'admin/base_site.html' %}
{% load i18n static object_tools %}

{% block extrahead %}
<!-- Extrahead -->
{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
{% endblock extrahead %}

{% block content %}
<h1>Ausgaben Erstellung</h1>

<!-- Help -->
{% block object-tools %}
    <ul class="object-tools">
        {% help_link %}
    </ul>
{% endblock object-tools %}

<!-- Form -->
<form method="post">
{% csrf_token %}
{{ form.non_field_errors }}

{% for fieldset in form %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
<input type="submit" value="Vorschau" name="_preview"/>

{% block preview %}
 {% if preview %}
        <div class="preview module aligned">
        <h2 class="fieldset-name">Vorschau</h2>
        <table id="preview_list">
            <thead>
                <tr>
                {% for header in preview_headers %}
                    <th scope="col" class="column-{{ header.class_attrib }}">
                       <div class="text"><span>{{ header|capfirst }}</span></div>
                       <div class="clear"></div>
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in preview %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        {% for item in row.values %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
<input type="submit" value="{% trans 'Save and create more' %}" name="_addanother">
<input type="submit" value="{% blocktrans with name=opts.verbose_name_plural %}Save and edit created {{ name }}{% endblocktrans %}" name="_continue"> 
 {% endif %}
{% endblock preview %}
</form>
{% endblock content %}

{% block footer %}
{% endblock %}
