{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
{% endblock extrahead %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/diff.css' %}"/>
{% endblock extrastyle %}

{% block bodyclass %}{{ block.super }} delete-confirmation{% endblock %}

{% block content %}
<p>Durch die Änderungen wird der Name des Datensatzes {{link}} stark verändert. (<a href="https://de.wikipedia.org/wiki/Levenshtein-Distanz">Distanz</a>: {{distance}}, Ratio: {{ratio}})</p>
<p><strong>Dies könnte ein Hinweis darauf sein, dass Sie versehentlich den falschen Datensatz bearbeiten.</strong> Bitte bestätigen Sie, dass sie den richtigen Datensatz verändern und dass die Änderungen korrekt sind.</p>

<div id="changes" style="padding: 1em;">
<p>Vorher: <strong>{{before}}</strong></p>
<p>Nachher: <strong>{{after}}</strong></p>
<p>Änderungen: {{diff}}</p>
</div>

<p><strong>Sind sie sicher, dass Sie die Änderungen anwenden wollen?</strong></p>
<form method="post">
{% csrf_token %}
<input type="submit" name="_change_confirmed" value="{% trans "Yes, I'm sure" %}" />
<a href="" class="button cancel-link">{% trans "No, take me back" %}</a>
</form>
{% endblock %}