{% extends "admin/change_list.html" %}
{% load i18n admin_urls miz_tags %}

{% block extrastyle %}
    {% if not cl.formset and not action_form and cl.model_admin.has_search_form %}
        {# Include i18n for view-only changelists (not editable and without actions) with a search form. #}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ block.super }}
{% endblock extrastyle %}

{% block search %}
<!-- ADMIN SEARCH FORM --->
    {% if cl.model_admin.has_search_form %}
          {% include "admin/includes/advanced_search_form.html" %}
    {% elif cl.search_fields %}
        {{ block.super }}
    {% endif %}
<!-- END ADMIN SEARCH FORM --->
{% endblock %}

{% block filters %}
    {{ block.super }}
    {% reset_ordering cl %}
{% endblock %}

{% block pagination %}
    {{ block.super }}
    <br>
    <div><ul class="object-tools" style="margin-top: 0px;">
        {% if has_add_permission %}<li>
            {% url cl.opts|admin_urlname:'add' as add_url %}
            <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
        </li>{% endif %}
    </ul></div>
    <a href="#top">(nach oben)</a>
{% endblock %}

