{% extends 'admin/basic_form.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; 
        <a href="{% url 'dupes_select' %}">Duplikate</a>
        {% if breadcrumbs_title %} &rsaquo; {{ breadcrumbs_title }}{% endif %}
    </div>
{% endblock %}

{% block content %}
{% block form %}
<div name="fields_select" class="collapse {%if items %}collapsed{% endif %}">
<h2 class="collapsible">Felder</h2>
<form name="fields_select" method="get">
    {{ form.non_field_errors }}
    <span class="help">{{form.help_text}}</span>
    <table><tbody> <tr>
        {% for field in form %}<td>{{field}}</td>{% endfor %}
    </tr> </tbody></table>
        <input type="submit" name="get_duplicates" value="Suchen">
</form>
</div>
{% endblock form %}
<br>

<!-- Duplicates -->
<div id="duplicates">
{% if items %}
<h1>{{ items|length }} Duplikate gefunden!</h1>
{% for dupe_item, cl_link in items %}
    <form method="post">
        {% csrf_token %}
        <table class="form" style="width:100%">
            <thead><tr>
                <th style="width:5%;">Merge</th>
                <th style="width:7%;">id</th>
                <th style="width:13%;">link</th>
                {% for header in headers %}
                    <th style="width:{{ headers_width }}%;"> {{header}} </th>
                {% endfor %}
            </tr></thead>

            {% for object, object_link, fields in dupe_item %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td><input type="checkbox" name="{{ action_checkbox_name }}" value="{{object.pk}}" checked /></td>
                    <td>{{object.pk}}</td>
                    <td>{{object_link}}</td>
                    {% for field in fields %}
                        <td>{{field}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% resetcycle %}
        </table>
        <input type="hidden" name="action" value="{{action_name}}" />
        <input type="submit" name="merge_sub" value="Zusammenfügen"> {{cl_link}}
    </form>
    <br><hr><br>
{% endfor %}
{% else %}
    <h1>Keine Duplikate gefunden!</h1>
{% endif %}
<!-- Duplicates END -->
</div>
{% endblock content %}
