{% extends 'admin/base_site.html' %}
{% load i18n static admin_urls %}

{% comment %}
{% endcomment %}
{% block extrahead %}
<!-- Extrahead -->
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{media}}
{% endblock extrahead %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; 
        <a href="{% url 'dupes_select' %}">Duplikate</a>
        {% if breadcrumbs_title %} &rsaquo; {{ breadcrumbs_title }}{% endif %}
    </div>
{% endblock %}
    
{% block content %}
<!-- Model Field Selection -->
<div name="fields_select" class="collapse collapsed">
<h2 class="collapsible">Felder</h2>
<form name="fields_select" method="get">
    {{form.help_text}}
    <table>
    <thead>
        {% for field in form %}<th></th>{% endfor %}
    </thead>
    <tbody> <tr>
        {% for field in form %}<td>{{field}}</td>{% endfor %}
    </tr> </tbody>
    </table>
        <input type="submit" name="get_duplicates" value="Suchen">
</form>
</div>
<!-- Model Field Selection END -->
<br>

<!-- Duplicates -->
{% if items %}
<h1>{{ items|length }} Duplikate gefunden!</h1>
{% for dupe_item, cl_url in items %}
    
    <form method="post">
        {% csrf_token %}
        <table class="form" style="width:100%">
            <thead><tr>
                <th>Merge</th>
                <th>id</th>
                <th style="min-width: 150px;">link</th>       
                {% for header in headers %}
                    <th> {{header}} </th>
                {% endfor %}
            </tr></thead>
            
            {% for object, object_link, fields in dupe_item %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td><input type="checkbox" name="{{ action_checkbox_name }}" value="{{object.pk}}" checked /></td>
                    <td>{{object.pk}}</td>
                    <td>{{object_link}}</td>
                    {% for field in fields %}
                        <td>{{field}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <input type="hidden" name="action" value="{{action_name}}" />
        <input type="submit" name="merge_sub" value="Zusammenfügen"> <a href="{{cl_url}}" class="button" target="_blank">Änderungsliste</a>
    </form>
    <br><hr><br>
{% endfor %}
{% else %}
<h1>Keine Duplikate gefunden!</h1>
{% endif %}
<!-- Duplicates END -->
{% endblock content %}
