{% extends 'admin/basic_form.html' %}

{% block content %}
{{ block.super }}

{% if items %}
<h1>{{ items|length }} Ergebnisse:</h1>
    <table class="form" style="width:100%">
            <thead><tr>
                <th style="width:20%;">Datensatz</th>
                <th style="width:80%;">Verwandte Objekte</th>
            </tr></thead>
            {% for object_link, result_text in items %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{object_link}}</td>
                    <td>{{result_text}}</td>
                </tr>
            {% endfor %}
    </table>
{% else %}
<h1>Keine Ergebnisse gefunden!</h1>
{% endif %}
{% endblock content %}
