{% extends 'admin/base_site.html' %} 
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {{breadcrumbs_title}}
    </div>
{% endblock %}
 
{% block content %} 
{% if model_helps %}
    <h2>Modelle</h2>
    {% for model_help in model_helps %}
        {{ model_help }}
        <br>
    {% endfor %}
{% endif %}

{% if form_helps %}
    <h2>Formulare</h2>
    {% for form_help in form_helps %}
        {{ form_help }}
        <br>
    {% endfor %}
{% endif %}

{% endblock content %}
