{% extends 'admin/action_confirmation.html' %}
{% load i18n l10n static admin_urls admin_list %}

{% block extrahead %}
<!-- Extrahead -->
{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/merge.js' %}"></script>
{% endblock extrahead %}

{% block confirmation_form %}
<form method="post" enctype="multipart/form-data">
    
    {% if wizard.steps.prev %}
        {% if wizard.steps.prev != wizard.steps.first %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="button">{% trans "first step" %}</button>
        {% endif %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="button">{% trans "prev step" %}</button>
    {% endif %}
    
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form.non_field_errors }}

    {% if current_step == '0' %}
        {# Select primary merge instance #}
        {# Use the changelist to display a list of the instances #}
        <div id="changelist"><div class="changelist-form-container">
        {% for field in wizard.form %}
            {% if forloop.first %}
                <div class="form-row aligned">
                    {{ field.errors }}
                    {{ field }}  {# the field is hidden and only stores the id selected in the 'result list' #}
                    {{ primary_label }}
                    {% result_list cl %}
                    <div class="help">{{ field.help_text }}</div>
                </div>
            {% else %}
                {% with fieldset=wizard.form.expand_primary_fieldset %}
                        {% include "admin/includes/fieldset.html" %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        </div></div>
    {% else %}
        {# Conflict resolution stage #}
        {{ wizard.form.management_form }}

        {% for form in wizard.form.forms %}
            {% for fieldset in form %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if non_reversible_warning %}
        <p>{{non_reversible_warning}}</p>
    {% endif %}
    
    <div>
        {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}
        <input type="hidden" name="action" value="{{action_name}}" />
        <input type="submit" name="action_confirmed_{{ wizard.steps.current }}" value="{% trans 'Continue' %}" />
        <a href="" class="button cancel-link">{% trans "No, take me back" %}</a>
    </div>
</form>
{% endblock confirmation_form %}
