{% extends 'admin/action_confirmation.html' %}

{% block selection_form %}
    {{ management_form }}
    {% for obj_link, form in forms %}
        {% if form %}
            <div>Ausgabe: {{obj_link}}</div>
            {% for fieldset in form %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% block options_form %}
    {% if options_form %}
        <h2>Weitere Optionen</h2>
        {% for fieldset in options_form %}
            {% include "admin/includes/fieldset.html" %}
        {% endfor %}
    {% endif %}
    {% endblock options_form %}
{% endblock selection_form %}
