{% load i18n static %}
<div id="toolbar"><form id="changelist-search" method="get">
<fieldset class="module collapse{% if not show_result_count %} collapsed{% endif %}" id="advanced-search-form">
<!-- ADVANCED SEARCH FORM -->

    <h2 class="collapsible">{% trans "Search options" %}</h2>
        {% for fieldset in advanced_search_form %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}
</fieldset>

{% if cl.search_fields %}
<fieldset id="search-input">
<label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search" /></label>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus />
<input type="submit" value="{% trans 'Search' %}" />
    {% if show_result_count %}
        <span class="small quiet">
        {% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} 
        (<a href="{{ cl.get_show_all_url }}{% if cl.is_popup %}&_popup=1{% endif %}">
        {% if cl.show_full_result_count %}
            {% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}
        {% else %}
            {% trans "Show all" %}
        {% endif %}</a>)</span>
    {% endif %}
</fieldset>
{% endif %}
</form></div>

