{# Checkbox and its label that add an object to the session watchlist via an AJAX request. #}
<li>
    <span class="watchlist">
        <!--suppress HtmlUnknownAttribute -->
        <input
                type="checkbox"
                class="watchlist watchlist-toggle"
                id="watchlist-cb"
                data-id="{{ object_id }}"
                data-model-label="{{ opts.label }}"
                {% if on_watchlist %} checked {% endif %}
        >
        <label for="watchlist-cb" class="watchlist">Merkliste</label>
    </span>
</li>