<div id="searchBar" title="Datenbank durchsuchen">
<button id="searchButton" type="button" class="btn btn-primary border-dark d-flex align-items-center w-100" data-bs-toggle="modal" data-bs-target="#searchModal">
    <span class="d-flex align-items-center">
        <img src="/static/mizdb/img/search.svg"><img>
        <span id="searchPlaceholder" class="ps-1 nav-text">Datenbanksuche</span>
    </span>
</button>
</div>

{% block searchmodal %}
{% include "mizdb/includes/search_modal.html" %}
{% endblock searchmodal %}
