{% extends 'admin/base_site.html' %}
{% load static %} {# TODO: need to load static? #}

{% block extrahead %}
    {{block.super}}
    {{media}}
{% endblock extrahead %}

{% block content %}
<div class="watchlist">
{% for model_opts, extra_headers, items, cl_link in watchlist %}
    <div class="model-container">
        <table id="{{model_opts.model_name}}_list">
        <thead>
        <tr>{{ model_opts.verbose_name }}</tr>
        <tr>
            <th scope="col"></th>
            <th scope="col">Objekt</th>
            {% for header in extra_headers %}
                <th scope="col">{{header}}</th>
            {% endfor %}
            <th scope="col">Hinzugefügt</th>
        </tr>
        </thead>
        <tbody>
            {% for id, object_link, extra_data, added in items %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td><a class="inline-deletelink watchlist-remove" href="#" data-id="{{id}}" data-model-label="{{model_opts.label}}" title="Entfernen">Entfernen</a></td>
                    <td>{{object_link}}</td>
                    {% for extra in extra_data %}
                        <td>{{extra}}</td>
                    {% endfor %}
                    <td>{{added}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <a href="{% url 'watchlist_changelist' app_label=model_opts.app_label model_name=model_opts.model_name %}" target="_blank">Änderungsliste</a>
    </div>
    <br><hr><br>
    {% endfor %}
</div>
{% endblock content %}
