Django==2.2.16
psycopg2==2.8.5

# Django extensions/apps
django-autocomplete-light==3.7.0.dev0
django-formtools==2.2

# Other python packages
nameparser==1.0.6
python-stdnum==1.14
requests==2.25.1

# Test/development packages
django-test-without-migrations==0.6
factory-boy==2.11.1
