Django==2.2.24
psycopg2==2.8.5

# Django extensions/apps
django-autocomplete-light==3.7.0.dev0
django-formtools==2.3
django-tsvector-field==0.9.5

# Other python packages
nameparser==1.0.6
python-stdnum==1.17
requests==2.26.0
PyYAML==6.0

# Test/development packages
factory-boy==2.12.0
requests_mock==1.9.3
